.anek-tamil {
  font-family: "Anek Tamil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #c8dfea; /* Optional: set a background color */
}

.weather-window {
  width: 500px; /* Adjust the width as needed */
  margin: 80px auto; /* Center the container */
  padding: 20px; /* Add some padding inside the container */
  border: 3px solid #03bb94; /* Create a solid black border */
  border-radius: 3%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5); /* Optional: add some shadow for better visibility */
  background-color: white; /* Optional: set a background color */
  font-family: "Anek Tamil", sans-serif;
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.weather-window:hover {
  transform: scale(1.08); /* Scale up the body and its content on hover */
}

header,
main,
footer {
  text-align: center;
}

h1 {
  color: rgb(0, 166, 130);
}

h2 {
  font-size: xx-large;
  color: rgb(0, 166, 130);
  margin-bottom: 0;
}

a {
  color: #03bb94;
}

.current-location {
  display: flex;
  justify-content: space-evenly; /* Adjusts the space between the items */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.weather-details {
  margin-top: 0; /* Remove any margin from the top to align it properly under the h2 */
}

.future-dates1 {
  display: flex;
  justify-content: space-evenly; /* Adjusts the space between the items */
}

.future-dates2 {
  display: flex;
  justify-content: space-evenly; /* Adjusts the space between the items */
}

#input-cityName {
  background-color: white;
  border-color: rgb(0, 165, 129);
  border-radius: 6px;
  width: 60%;
  padding: 5px;
  margin-left: 17px;
}

#input-button {
  background-color: rgb(0, 166, 130);
  color: white;
  border-color: rgb(0, 165, 129);
  border-radius: 6px;
  padding: 5px;
  margin-left: 10px;
}

input[type="submit"]:hover {
  background-color: rgb(0, 184, 156); /* Light blue color on hover */
  cursor: pointer;
}
